@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

::selection {
  background-color: #e5e5e5;
  color: #0d60d3;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #0d60d3;
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #0d60d3 #e5e5e5;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Inter", sans-serif;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  z-index: 3;
}

.leafbutton {
  border-radius: 0px 30px 30px 40px;
}

.banner-image {
  background-image: url("/assets/banner/shapes.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

hr {
  border-color: rgba(196, 196, 196, 0.65);
}

.w-270 {
  width: 270px;
}

@media screen and (min-width: 1000px) {
  .lh-96 {
    line-height: 96px !important;
  }

  .lh-81 {
    line-height: 81px !important;
  }

  .lh-33 {
    line-height: 33px !important;
  }
}

.bg-image-what {
  background-image: url("/assets/clientsay/bgimage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Footer */

.footer-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  transition: 0.5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.footer-fb-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-fb-icons {
  transition: 0.5s;
}
.footer-fb-icons:hover {
  transform: translateY(-8px);
}

.space-links {
  transition: 0.3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

#pic {
  filter: drop-shadow(2px 6px 12px rgba(30, 74, 100, 0.4));
}
#pic:hover {
  filter: drop-shadow(2px 6px 12px rgba(43, 108, 132, 0.65));
}
/* Headings */
.markdown-body h1 {
  font-size: 2.5rem; /* 40px */
}

.markdown-body h2 {
  font-size: 2rem; /* 32px */
}

.markdown-body h3 {
  font-size: 1.75rem; /* 28px */
}

.markdown-body h4 {
  font-size: 1.5rem; /* 24px */
}

.markdown-body h5 {
  font-size: 1.25rem; /* 20px */
}

.markdown-body h6 {
  font-size: 1rem; /* 16px */
}

/* Headings */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
  line-height: 1.15;
  color: #fff0e8;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Paragraphs */
.markdown-body p {
  margin-bottom: 10px;
}

/* Links */
.markdown-body a {
  @apply text-blue-500;
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
}
.markdown-body ul li {
  list-style-type: disc;
}

.markdown-body blockquote {
  border-left: 4px solid #5d8a95;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  color: #3d81a3;
}

.markdown-body pre {
  background-color: #464646dc;
  border-left: 3px solid #098ed0;
  color: white;
  padding: 10px;
  overflow-x: auto;
}

.markdown-body code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 3px;
}

/* Tables */
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid hsl(0, 0%, 32%);
  padding: 8px;
  text-align: left;
}

.markdown-body th {
  background-color: #626161;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-zz {
  background: url("https://assets.lummi.ai/assets/QmNtE7zSUEDyVUNaG8fS4ADewRKsF1hRj6PyfhUSEK44y9?auto=format&w=1500");
  background-position: center;
}
