@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  z-index: 3;
}

.leafbutton {
  border-radius: 0px 30px 30px 40px;
}

.banner-image {
  background-image: url("/assets/banner/shapes.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

hr {
  border-color: rgba(196, 196, 196, 0.65);
}

.w-270 {
  width: 270px;
}

@media screen and (min-width: 1000px) {
  .lh-96 {
    line-height: 96px !important;
  }

  .lh-81 {
    line-height: 81px !important;
  }

  .lh-33 {
    line-height: 33px !important;
  }
}

.bg-image-what {
  background-image: url("/assets/clientsay/bgimage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Footer */

.footer-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  transition: 0.5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.footer-fb-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-fb-icons {
  transition: 0.5s;
}
.footer-fb-icons:hover {
  transform: translateY(-8px);
}

.space-links {
  transition: 0.3s;
}

.space-links:hover {
  letter-spacing: 1px;
}
